.container__button {
    height: 350px;
    font-family: 'Roboto Mono', monospace;
    font-size: bold;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;  
    align-items: center;
    justify-content: center;

}

.container__button  .btn {
    border-radius: 0%;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    border-style: none;
    padding: 1%
}